In [4]:
#import pandas as pd 
import pandas as pd 
import datetime
import time
#read in data
fdny_df = pd.read_csv('/Users/madisonvolpe/documents/Projects/FDNY_ResponseTimes/RawData/FDNY_Monthly_Response_Times.csv')

In [17]:
#inspect first five rows
fdny_df.head()

,YEARMONTH,INCIDENTCLASSIFICATION,INCIDENTBOROUGH,INCIDENTCOUNT,AVERAGERESPONSETIME
0,2009/07,All Fire/Emergency Incidents,Citywide,40850,04:27
1,2009/07,All Fire/Emergency Incidents,Manhattan,10709,04:32
2,2009/07,All Fire/Emergency Incidents,Bronx,8137,04:37
3,2009/07,All Fire/Emergency Incidents,Staten Island,2205,04:45
4,2009/07,All Fire/Emergency Incidents,Brooklyn,11505,04:01

In [18]:
fdny_df.info() #inspecting data types of dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4368 entries, 0 to 4367
Data columns (total 5 columns):
YEARMONTH                 4368 non-null object
INCIDENTCLASSIFICATION    4368 non-null object
INCIDENTBOROUGH           4368 non-null object
INCIDENTCOUNT             4368 non-null int64
AVERAGERESPONSETIME       4368 non-null object
dtypes: int64(1), object(4)
memory usage: 170.7+ KB

In [19]:
#Now we will filter for those in YEARMONTH with FY distinction
fiscalyear = fdny_df.YEARMONTH.str.contains('^FY')
fdny_df_fil = fdny_df[fiscalyear]

#We will also filter for "All Fire/Emergency Incidents"
emer_inc = fdny_df.INCIDENTCLASSIFICATION.str.contains("All Fire/Emergency Incidents")
fdny_df_fil = fdny_df_fil[emer_inc]

/Users/madisonvolpe/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys

In [20]:
#check the unique valaues of YEARMONTH and INCIDENTCLASSIFICATION columns 
print(fdny_df_fil.YEARMONTH.unique())
print(fdny_df_fil.INCIDENTCLASSIFICATION.unique())

['FY 2010' 'FY 2011' 'FY 2012' 'FY 2013' 'FY 2014' 'FY 2015' 'FY 2016'
 'FY 2017']
['All Fire/Emergency Incidents']

In [21]:
#add hours via strftime 
fdny_df_fil['AVERAGERESPONSETIME']=list(map(lambda x: datetime.datetime.strptime(x,'%M:%S').strftime('%H:%M:%S'),\
               fdny_df_fil['AVERAGERESPONSETIME']))

In [22]:
fdny_df_fil.AVERAGERESPONSETIME.head()

4032    00:04:33
4033    00:04:38
4034    00:04:44
4035    00:04:54
4036    00:04:04
Name: AVERAGERESPONSETIME, dtype: object

In [23]:
#convert to time 
fdny_df_fil['AVERAGERESPONSETIME']=list(map(lambda x: time.strptime(x,'%H:%M:%S'),\
               fdny_df_fil['AVERAGERESPONSETIME']))

In [27]:
#make seconds columns 
fdny_df_fil['SECONDS'] = list(map(lambda x:datetime.timedelta\
                                  (hours=x.tm_hour,minutes=x.tm_min,seconds=x.tm_sec).total_seconds(),\
                                 fdny_df_fil['AVERAGERESPONSETIME']))

In [28]:
fdny_df_fil.SECONDS.head()

4032    273.0
4033    278.0
4034    284.0
4035    294.0
4036    244.0
Name: SECONDS, dtype: float64

In [29]:
#this is the average incident count and average response time in seconds from FY 2010 to FY 2017 by borough! 
fdny_df_fil.groupby('INCIDENTBOROUGH').agg({'INCIDENTCOUNT': 'mean', 'SECONDS': 'mean'})

                 INCIDENTCOUNT  SECONDS
INCIDENTBOROUGH
Bronx               103761.375  297.500
Brooklyn            147640.000  255.250
Citywide            522734.250  284.750
Manhattan           139469.625  295.625
Queens              104814.375  298.125
Staten Island        27048.875  291.250