In [112]:
#import pandas as pd 
import pandas as pd 

#read in data
fdny_df = pd.read_csv('/Users/madisonvolpe/documents/Projects/FDNY_ResponseTimes/FDNY_Monthly_Response_Times.csv')

In [113]:
#inspect first five rows
fdny_df.head()

,YEARMONTH,INCIDENTCLASSIFICATION,INCIDENTBOROUGH,INCIDENTCOUNT,AVERAGERESPONSETIME
0,2009/07,All Fire/Emergency Incidents,Citywide,40850,04:27
1,2009/07,All Fire/Emergency Incidents,Manhattan,10709,04:32
2,2009/07,All Fire/Emergency Incidents,Bronx,8137,04:37
3,2009/07,All Fire/Emergency Incidents,Staten Island,2205,04:45
4,2009/07,All Fire/Emergency Incidents,Brooklyn,11505,04:01

In [114]:
fdny_df.info() #inspecting data types of dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4368 entries, 0 to 4367
Data columns (total 5 columns):
YEARMONTH                 4368 non-null object
INCIDENTCLASSIFICATION    4368 non-null object
INCIDENTBOROUGH           4368 non-null object
INCIDENTCOUNT             4368 non-null int64
AVERAGERESPONSETIME       4368 non-null object
dtypes: int64(1), object(4)
memory usage: 170.7+ KB

In [115]:
#Now we will filter for those in YEARMONTH with FY distinction
fiscalyear = fdny_df.YEARMONTH.str.contains('^FY')
fdny_df_fil = fdny_df[fiscalyear]

#We will also filter for "All Fire/Emergency Incidents"
emer_inc = fdny_df.INCIDENTCLASSIFICATION.str.contains("All Fire/Emergency Incidents")
fdny_df_fil = fdny_df_fil[emer_inc]

/Users/madisonvolpe/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys

In [116]:
#check the unique valaues of YEARMONTH and INCIDENTCLASSIFICATION columns 
print(fdny_df_fil.YEARMONTH.unique())
print(fdny_df_fil.INCIDENTCLASSIFICATION.unique())

['FY 2010' 'FY 2011' 'FY 2012' 'FY 2013' 'FY 2014' 'FY 2015' 'FY 2016'
 'FY 2017']
['All Fire/Emergency Incidents']

In [133]:
#convert AVERAGERESPONSETIME to time 
fdny_df_fil['AVERAGERESPONSETIME']=pd.to_datetime(fdny_df_fil['AVERAGERESPONSETIME'], format='%M:%S')
fdny_df_fil

,YEARMONTH,INCIDENTCLASSIFICATION,INCIDENTBOROUGH,INCIDENTCOUNT,AVERAGERESPONSETIME
4032,FY 2010,All Fire/Emergency Incidents,Citywide,489354,1900-01-01 00:04:33
4033,FY 2010,All Fire/Emergency Incidents,Manhattan,125685,1900-01-01 00:04:38
4034,FY 2010,All Fire/Emergency Incidents,Bronx,98322,1900-01-01 00:04:44
4035,FY 2010,All Fire/Emergency Incidents,Staten Island,27893,1900-01-01 00:04:54
4036,FY 2010,All Fire/Emergency Incidents,Brooklyn,137657,1900-01-01 00:04:04
4037,FY 2010,All Fire/Emergency Incidents,Queens,99797,1900-01-01 00:04:49
4074,FY 2011,All Fire/Emergency Incidents,Citywide,493146,1900-01-01 00:04:40
4075,FY 2011,All Fire/Emergency Incidents,Manhattan,128195,1900-01-01 00:04:44
4076,FY 2011,All Fire/Emergency Incidents,Bronx,97750,1900-01-01 00:04:50
4077,FY 2011,All Fire/Emergency Incidents,Staten Island,25857,1900-01-01 00:04:49
4078,FY 2011,All Fire/Emergency Incidents,Brooklyn,139278,1900-01-01 00:04:13
4079,FY 2011,All Fire/Emergency Incidents,Queens,102066,1900-01-01 00:05:00
4116,FY 2012,All Fire/Emergency Incidents,Citywide,488256,1900-01-01 00:04:35
4117,FY 2012,All Fire/Emergency Incidents,Manhattan,128128,1900-01-01 00:04:43
4118,FY 2012,All Fire/Emergency Incidents,Bronx,96532,1900-01-01 00:04:48
4119,FY 2012,All Fire/Emergency Incidents,Staten Island,26982,1900-01-01 00:04:45
4120,FY 2012,All Fire/Emergency Incidents,Brooklyn,138262,1900-01-01 00:04:09
4121,FY 2012,All Fire/Emergency Incidents,Queens,98352,1900-01-01 00:04:48
4158,FY 2013,All Fire/Emergency Incidents,Citywide,493377,1900-01-01 00:04:46
4159,FY 2013,All Fire/Emergency Incidents,Manhattan,128126,1900-01-01 00:04:51
4160,FY 2013,All Fire/Emergency Incidents,Bronx,95423,1900-01-01 00:04:55
4161,FY 2013,All Fire/Emergency Incidents,Staten Island,26830,1900-01-01 00:04:59
4162,FY 2013,All Fire/Emergency Incidents,Brooklyn,141076,1900-01-01 00:04:20
4163,FY 2013,All Fire/Emergency Incidents,Queens,101922,1900-01-01 00:05:04
4200,FY 2014,All Fire/Emergency Incidents,Citywide,503668,1900-01-01 00:04:46
4201,FY 2014,All Fire/Emergency Incidents,Manhattan,137908,1900-01-01 00:04:58
4202,FY 2014,All Fire/Emergency Incidents,Bronx,99362,1900-01-01 00:05:01
4203,FY 2014,All Fire/Emergency Incidents,Staten Island,25105,1900-01-01 00:04:56
4204,FY 2014,All Fire/Emergency Incidents,Brooklyn,142672,1900-01-01 00:04:16
4205,FY 2014,All Fire/Emergency Incidents,Queens,98621,1900-01-01 00:04:55
4242,FY 2015,All Fire/Emergency Incidents,Citywide,548949,1900-01-01 00:04:50
4243,FY 2015,All Fire/Emergency Incidents,Manhattan,150472,1900-01-01 00:05:03
4244,FY 2015,All Fire/Emergency Incidents,Bronx,108946,1900-01-01 00:05:03
4245,FY 2015,All Fire/Emergency Incidents,Staten Island,26938,1900-01-01 00:04:54
4246,FY 2015,All Fire/Emergency Incidents,Brooklyn,153876,1900-01-01 00:04:19
4247,FY 2015,All Fire/Emergency Incidents,Queens,108717,1900-01-01 00:05:02
4284,FY 2016,All Fire/Emergency Incidents,Citywide,579756,1900-01-01 00:04:52
4285,FY 2016,All Fire/Emergency Incidents,Manhattan,158794,1900-01-01 00:05:12
4286,FY 2016,All Fire/Emergency Incidents,Bronx,116210,1900-01-01 00:05:05
4287,FY 2016,All Fire/Emergency Incidents,Staten Island,28386,1900-01-01 00:04:49
4288,FY 2016,All Fire/Emergency Incidents,Brooklyn,163163,1900-01-01 00:04:19
4289,FY 2016,All Fire/Emergency Incidents,Queens,113203,1900-01-01 00:05:02
4326,FY 2017,All Fire/Emergency Incidents,Citywide,585368,1900-01-01 00:04:56
4327,FY 2017,All Fire/Emergency Incidents,Manhattan,158449,1900-01-01 00:05:16
4328,FY 2017,All Fire/Emergency Incidents,Bronx,117546,1900-01-01 00:05:14
4329,FY 2017,All Fire/Emergency Incidents,Staten Island,28400,1900-01-01 00:04:44
4330,FY 2017,All Fire/Emergency Incidents,Brooklyn,165136,1900-01-01 00:04:22
4331,FY 2017,All Fire/Emergency Incidents,Queens,115837,1900-01-01 00:05:05

In [138]:
fdny_df_fil.groupby('INCIDENTBOROUGH').agg({'INCIDENTCOUNT': 'mean'})

DataError: No numeric types to aggregate